# --- Carpeta de configuración de IDE ---
.vs/
.vscode/
.vsconfig
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# --- Archivos temporales de Unreal Engine ---
Binaries/*
Plugins/*/Binaries/*
Intermediate/*
Plugins/*/Intermediate/*
DerivedDataCache/*
Saved/*
Build/*

# --- Archivos de datos generados ---
*_BuiltData.uasset

# --- Archivos compilados ---
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.gch
*.slo
*.lo
*.o
*.so
*.dylib
*.dll
*.lib
*.lai
*.la
*.a
*.exe
*.out
*.app
*.ipa

# --- Ignorar archivos de sistema ---
.DS_Store
Thumbs.db

# --- NOTA SOBRE ART: ---
# Si decides usar una carpeta SourceArt para tus archivos .psd o .aseprite, 
# asegúrate de que NO esté en esta lista para que Git los rastree.